@use "../utils" as u;
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: u.$font-spartan;
  background-color: var(--light-background);
  //   background-color: var(--eggshell);
  // color: var(--text-color);
  font-weight: normal;
}

.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c{
    justify-content: center;
  }
  &-ai-c{
    align-items: center;
  }
}
