:root {
  // Primary
  --desaturated-dark-cyan: hsl(180, 29%, 50%);

  // Neutral
  --light-background: hsl(180, 52%, 96%); //(Background)
  --light-tablet: hsl(180, 31%, 95%); //(Filter Tablets)
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}
